@font-face {
  font-family: 'Roboto';
  src:
    url('assets/Roboto-Bold.woff') format('woff'),
    url('assets/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('assets/Roboto-Regular.woff') format('woff'),
    url('assets/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('assets/Roboto-Medium.woff') format('woff'),
    url('assets/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1600px;
  min-height: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  outline: none;
}

.link:hover {
  opacity: 0.7;
}

.link:active,
.link:focus {
  opacity: 0.4;
}

.header {
  background-color: #000000;
  position: relative;
  padding-top: 39px;
  padding-bottom: 30px;
}

.header__nav {
  width: 596px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header__item:nth-child(4n + 1) {
  margin-right: 85px;
}

.header__item:nth-child(4n + 2) {
  margin-right: 246px;
}

.header__item:nth-child(4n) {
  margin-left: 85px;
}

.header__link {
  padding-bottom: 1px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.header__link:active,
.header__link:focus {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 500;
}

.header__link-active {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 500;
  color: #FFFFFF;
}

.header__logo {
  position: absolute;
  top: 25px;
  left: calc(50% - 22px);
}

.your-life__wrap {
  background-color: #000000;
}

.your-life {
  width: 1600px;
  margin: 0 auto;
  padding: 0;
  padding-top: 141px;
  padding-bottom: 90px;
  background-image: url(assets/your_life.jpg);
  background-repeat: no-repeat;
  background-position: 0px -88px;
  color: #FFFFFF;
}

.your-life__title {
  margin: 0;
  margin-bottom: 22px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.your-life__text {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.like-btn {
  width: 184px;
  height: 46px;
  padding-top: 3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background: #00AFDB;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-btn:hover {
  background: #009CC2;
}

.like-btn:active,
.like-btn:focus {
  background: #009CC2;
  opacity: 0.5;
}

.your-life__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 183px;
}

.your-life__social {
  width: 170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__link--email {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(assets/mail.svg);
  background-repeat: no-repeat;
}

.social__link--fb {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(assets/facebook.svg);
  background-repeat: no-repeat;
}

.social__link--ig {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(assets/insta.svg);
  background-repeat: no-repeat;
}

.social__link--youtube {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(assets/youtube.svg);
  background-repeat: no-repeat;
}

.idea {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  padding-top: 295px;
  padding-left: 269px;
  padding-bottom: 314px;
  background-image: url(assets/content-image-1.jpg);
  background-repeat: no-repeat;
  background-position: 924px 120px;
}

.idea__title,
.rich-code__title {
  width: 407px;
  margin: 0;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.idea__text {
  margin: 0;
  margin-bottom: 31px;
  width: 407px;
  line-height: 19px;
  color: #4E4E4E;
}

.rich-code__text {
  margin: 0;
  margin-bottom: 28px;
  width: 407px;
  line-height: 20px;
  color: #4E4E4E;
}

.idea__btn {
  padding-top: 3px;
}

.community {
  background-color: #F5F6F7;
}

.community__wrap {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
  padding-left: 269px;
  padding-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.community__info {
  width: 298px;
  padding-top: 35px;
  padding-bottom: 33px;
  margin-right: 139px;
}

.community__avatar {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.community__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.community__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4E4E4E;
}


.slyder {
  width: 894px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.slyder__item {
  margin-right: 30px;
  min-width: 407px;
  height: 244px;
}

.slyder__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slyder__pages {
  width: 104px;
  position: absolute;
  top: 76px;
  right: 258px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slyder__number {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #373737;
}

.slyder__btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.slyder__btn:hover {
  opacity: 0.5;
}

.slyder__btn:active,
.slyder__btn:focus {
  opacity: 0.3;
}

.slyder__btn--start {
  background-image: url(assets/previous.svg);
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

.slyder__btn--end {
  background-image: url(assets/next.svg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
}

.slyder__btn--end:disabled {
  opacity: 0.1;
}

.slyder__item--current {
  display: block;
}

.slyder__item--hidden {
  display: none;
}

.rich-code {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  padding-top: 318px;
  padding-left: 815px;
  padding-bottom: 339px;
  background-image: url(assets/content-image-2.jpg);
  background-repeat: no-repeat;
  background-position: 269px 120px;
}

.rich-code__btn {
  width: 180px;
}

.subscription__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription__wrap {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  padding: 0;
  padding-top: 200px;
  padding-bottom: 220px;
}

.subscription {

  background-image: url(assets/subscribing.jpg);
  background-repeat: no-repeat;
  background-position: center -615px;
  background-color: gray;
}



.subscription__input {
  display: block;
  border: none;
  margin: 0 auto;
  padding-left: 24px;
  width: 340px;
  height: 46px;
  box-sizing: border-box;

}

.subscription__input:hover,
.subscription__input:active,
.subscription__input:focus {
  font-size: larger;
}


.subscription__form {
  width: 406px;
  margin: 0 auto;
  display: flex;

}

.subscription__btn {
  width: 66px;
  height: 46px;
  background: #00AFDB;
  top: 0;
  right: 0;
  border: none;
  background-image: url(assets/check.svg);
  background-repeat: no-repeat;
  background-position: 25px 16px;
  outline: none;

}

.subscription__btn:hover {
  background-color: #009CC2;

}

.subscription__btn:active,
.subscription__btn:focus {
  background-color: #009CC2;
  background-size: 22px;
  top: -2px;
}

.download {
  background-color: #F5F6F7;
}

.download__wrap {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 180px;
}

.download__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.download__text {
  width: 483px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #4E4E4E;
}

.download__link-wrap {
  width: 402px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.download__link {
  display: block;
  width: 186px;
  height: 46px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 16px;
  padding-right: 58px;
  background: linear-gradient(to right, #00AFDB, #00AFDB 68%, #009CC2 68%, #009CC2);
}

.download__link--apple,
.download__link--google {
  position: relative;

}

.download__link:hover {
  background: #009CC2;
  opacity: 1;
}

.download__link--apple::after {
  position: absolute;
  content: url(assets/apple.svg);
  width: 15px;
  height: 15px;
  top: 13px;
  right: 23px;
}

.download__link--google::after {
  position: absolute;
  content: url(assets/android.svg);
  width: 20px;
  height: 23px;
  top: 12px;
  right: 20px;
}

.footer {
  box-sizing: border-box;
  background-color: #000000;
}


.footer__wrap {
  width: 1600px;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  width: 236px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 160px;
}

.footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.98;

}

.footer__copyright {
  width: 236px;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  color: #818181;
  margin-right: 160px;

}

.footer__logo {
  flex-grow: 1;
}

.footer__img {
  display: block;
  margin: 0 auto;
}

.footer__item {
  position: relative;
  padding-top: 2px;
}

.footer__item:not(:last-child)::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  background-color: #4E4E4E;
  right: -21px;
  top: 7px;
}